.widgets-layout
    display grid
    grid-template-columns auto auto auto auto
    grid-template-rows 95px 203px 203px 400px 270px
    grid-column-gap 20px
    grid-row-gap 20px
    justify-items stretch
    align-items stretch
    grid-template-areas "widget1 widget2 widget3 widget4" "widget5 widget5 widget5 widget6" "widget5 widget5 widget5 widget7" "widget8 widget8 widget9 widget9" "widget10 widget10 widget10 widget10"
    &__item
        background-color #fff
        box-shadow 0 2px 2px rgba(4, 4, 4, 0.09)
        align-self stretch
        &_1
            grid-area: widget1
            animation-delay: 200ms
        &_2
            grid-area: widget2
            animation-delay: 300ms
        &_3
            grid-area: widget3
            animation-delay: 400ms
        &_4
            grid-area: widget4
            animation-delay: 500ms
        &_5
            grid-area: widget5
            animation-delay: 600ms
        &_6
            grid-area: widget6
            animation-delay: 700ms
        &_7
            grid-area: widget7
            animation-delay: 800ms
        &_8
            grid-area: widget8
            animation-delay: 900ms
        &_9
            grid-area: widget9
            animation-delay: 1000ms
        &_10
            grid-area: widget10
            animation-delay: 1100ms
        

.widget
    display inline-grid
    grid-template-columns 70px auto
    grid-column-gap 20px
    align-items center
    opacity 0
    transform translatyY(25px)
    animation-name showWidget 
    animation-duration 550ms
    animation-fill-mode forwards
    &__label
        grid-column 1
        height 100%
    &__icon-cell
        display inline-grid
        grid-template-columns auto 30px auto
        grid-template-rows auto 30px auto
        justify-items stretch
        align-items stretch
        width 100%
        height 100%
    &__icon
        grid-column 2
        grid-row 2
        align-self stretch
        background-position center center
        background-repeat no-repeat
        background-size contain
        font-size 30px
        color #fff

    &__content_with_label
        grid-column 2
    &__colorize-title
        font-size 16px
        text-transform uppercase
        font-weight 600
        line-height 16px
        margin-bottom 5px
    p
        font-size 18px
        line-height 18px
        font-weight 600
        color #2f3b4c
        sup
            position relative
            
            font-size 70%
            vertical-align top

@keyframes showWidget
    from 
        opacity: 0
        transform: translateY(25px)
    to
        opacity: 1
        transform: translateY(0px) 