extends ../base
block title
    title Index page

block content
    .widgets-layout
        .widgets-layout__item.widgets-layout__item_1.widget
            .widget__label.bg-red
                .widget__icon-cell
                    .widget__icon.icon-money
            .widget__content.widget__content_with_label
                .widget__colorize-title.c-red total sales
                p
                    sup $
                    | 215,645
        .widgets-layout__item.widgets-layout__item_2.widget
            .widget__label.bg-blue
                .widget__icon-cell
                    .widget__icon.icon-document
            .widget__content.widget__content_with_label
                .widget__colorize-title.c-blue new quote
                p 523,543
        .widgets-layout__item.widgets-layout__item_3.widget 
            .widget__label.bg-purple
                .widget__icon-cell
                    .widget__icon.icon-base
            .widget__content.widget__content_with_label
                .widget__colorize-title.c-purple orders
                p 23,414
        .widgets-layout__item.widgets-layout__item_4.widget
            .widget__label.bg-green
                .widget__icon-cell
                    .widget__icon.icon-box
            .widget__content.widget__content_with_label
                .widget__colorize-title.c-green products
                p 19,087
        .widgets-layout__item.widgets-layout__item_5.widget Widget №5
        .widgets-layout__item.widgets-layout__item_6.widget 
            .chart 
                .chart__item
                    svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 108.9 65.7", style="enable-background:new 0 0 108.9 65.7;", xml:space="preserve")
                        path(d="M0,14.4c0,0,4.7-2.6,12.1-1c7.2,1.5,17.1,7.3,27.7,5.2C51.8,16.2,64.9,0,76.3,0c10,0,18.9,8.7,24.8,12.6c4.8,3.2,7.7,1.8,7.7,1.8v51.3H0V14.4z", fill="#e7e0f4")
                .chart__item
                    svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 108.9 65.7", style="enable-background:new 0 0 108.9 65.7;", xml:space="preserve")
                        path(d="M0,14.4c0,0,4.7-2.6,12.1-1c7.2,1.5,17.1,7.3,27.7,5.2C51.8,16.2,64.9,0,76.3,0c10,0,18.9,8.7,24.8,12.6c4.8,3.2,7.7,1.8,7.7,1.8v51.3H0V14.4z", fill="#b198dc")


        .widgets-layout__item.widgets-layout__item_7.widget 
            .chart 
                .chart__item
                    svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 108.9 65.7", style="enable-background:new 0 0 108.9 65.7;", xml:space="preserve")
                        path(d="M109,14.4c0,0-19.1-12.2-26.6-10.6c-7.2,1.5-12.3,8.3-22.9,6.2C47.5,7.6,44,0,32.6,0c-10,0-18.9,8.7-24.8,12.6C2.9,15.8,0,14.4,0,14.4v41.8h109V14.4z", fill="#cdedea")
                .chart__item
                    svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 108.9 65.7", style="enable-background:new 0 0 108.9 65.7;", xml:space="preserve")
                        path(d="M109,14.4c0,0-19.1-12.2-26.6-10.6c-7.2,1.5-12.3,8.3-22.9,6.2C47.5,7.6,44,0,32.6,0c-10,0-18.9,8.7-24.8,12.6C2.9,15.8,0,14.4,0,14.4v41.8h109V14.4z", fill="#6dc7be")
        .widgets-layout__item.widgets-layout__item_8.widget Widget №8
        .widgets-layout__item.widgets-layout__item_9.widget Widget №9
        .widgets-layout__item.widgets-layout__item_10.widget Widget №10
