extends ../base
block title
    title Index page

block content
    .widgets-layout
        .widgets-layout__item.widgets-layout__item_1.widget
            .widget__label.bg-red
                .widget__icon-cell
                    .widget__icon.icon-money
            .widget__content.widget__content_with_label
                .widget__colorize-title.c-red total sales
                p
                    sup $
                    | 215,645
        .widgets-layout__item.widgets-layout__item_2.widget
            .widget__label.bg-blue
                .widget__icon-cell
                    .widget__icon.icon-document
            .widget__content.widget__content_with_label
                .widget__colorize-title.c-blue new quote
                p 523,543
        .widgets-layout__item.widgets-layout__item_3.widget 
            .widget__label.bg-purple
                .widget__icon-cell
                    .widget__icon.icon-base
            .widget__content.widget__content_with_label
                .widget__colorize-title.c-purple orders
                p 23,414
        .widgets-layout__item.widgets-layout__item_4.widget
            .widget__label.bg-green
                .widget__icon-cell
                    .widget__icon.icon-box
            .widget__content.widget__content_with_label
                .widget__colorize-title.c-green products
                p 19,087
        .widgets-layout__item.widgets-layout__item_5.widget Widget №5
        .widgets-layout__item.widgets-layout__item_6.widget Widget №6
        .widgets-layout__item.widgets-layout__item_7.widget Widget №7
        .widgets-layout__item.widgets-layout__item_8.widget Widget №8
        .widgets-layout__item.widgets-layout__item_9.widget Widget №9
        .widgets-layout__item.widgets-layout__item_10.widget Widget №10
